<app-header></app-header>
<main>
    <form action="" method="post" (ngSubmit)="ValidationLogin()">
        <h1 class="my-5 mx-auto text-center display-1">Conecte-se ao Game Mania</h1>

        <fieldset class="m-5">
            <legend class="display-4 my-3">Login</legend>

            <section class="EmailContainer my-3 bg p-3">
                <label for="email" class="form-label display-5 my-3">E-mail</label><br>
                <input type="email" id="email" name="email" placeholder="nome@exemplo.com" required class="form-control form-control-lg my-3" [(ngModel)]="UserModel.email">
            </section>

            <section class="PasswordContainer my-3 p-3" id="PasswordContainer">
                <label for="password" class="form-label display-5 my-3">Senha</label><br>
                <input type="password" id="password" name="password" required class="form-control form-control-lg my-3" [(ngModel)]="UserModel.password">
                <samp class="MsgError" *ngIf=" message != '' ">E-mail e/ou Senha Incorreta</samp> <br>
                <samp class="MsgError" *ngIf=" message != '' ">{{ message }}</samp>
            </section>

            <section class="ButtonsContainer my-3 p-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-dark btn-lg">Log in</button>
                <button type="reset" class="btn btn-dark btn-lg">Recomeçar</button>
            </section>
        </fieldset>

        <h2 class="my-5 mx-auto text-center display-2">Ainda não se registrou?</h2>

        <fieldset class="m-5">
            <legend class="display-4 my-3">Registre-se</legend>
            
            <nav class="m-3">
                <a routerLink="#" class="btn btn-dark btn-lg my-3">Registre-se</a>
            </nav>
        </fieldset>
    </form>
</main>