/* You can add global styles to this file, and also import other style files */
@import url(FontsCSS/MerriweatherSans.css);
@import url(FontsCSS/Silkscreen.css);
@import '~normalize.css';


/* Body */

body {
    font-family: Merriweather Sans, sans-serif;
    color: hsl(0, 0%, 90%);
    background-image: linear-gradient(hsl(0, 0%, 10%), hsl(240, 100%, 35%), hsl(0, 0%, 10%));
}