<footer>
    <article>
        <p>A nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos,
            conteúdos, entretenimento e inovação, causando uma emoção
            inédita, criando experiências e prazeres.</p>
    </article>

    <nav>
        <figure>
            <a routerLink="#"><img src="../../../assets/Images/Recuperar-meu-facebook-antigo-agoraQuadrado50x50.jpg"
                    alt="GameMania - Facebook"></a>

            <a routerLink="#"><img src="../../../assets/Images/unnamed50x50.png" alt="GameMania - Instagran"></a>
        </figure>
    </nav>

    <figure>
        <img src="../../../assets/Images/Logomarca.png" alt="GameMania - Logomarca">
    </figure>
</footer>